@import url('../fonts/stylesheet.css');

:root {
  --status-default-text: #fff;
  --status-contracting: #c8d7ff;
  --status-chosen: #02ad90;
  --status-paid: #19bf1c;
  --status-canceled: #ff1e66;
  --status-withdrawn: #4543ce;
  --status-awaiting: #ff9d02;
  --status-act: #6f87c5;
  --status-working: #ffe500;
  --status-processing: #ffd325;
  --status-draft: #ededed;
  --status-dark-text: #333333;
  --status-blue-text: #2f4479;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  font-size: 18rem;
}
*::selection {
  background: #005ccb;
}
*::-webkit-scrollbar {
  width: 0px;
  height: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html {
  font-size: 0.052083vw;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Onest', sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  cursor: pointer;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  overflow-x: hidden;
  color: #333;
  background-color: #f6f8fd;
}

.container {
  max-width: 1920rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 320rem;
}

.btn_blue {
  min-width: 314rem;
  width: max-content;
  background: #2897f8;
  font-weight: 500;
  font-size: 18rem;
  line-height: 130%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
  padding: 24rem 30rem;
  cursor: pointer;
}
.btn_blue:hover {
  background: #004bb5;
}
.btn_blue:active {
  background: #003d99;
}

.btn_gray {
  min-width: 314rem;
  width: max-content;
  background: #4b505a;
  font-weight: 500;
  font-size: 18rem;
  line-height: 130%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
  padding: 24rem 30rem;
  cursor: pointer;
  backdrop-filter: blur(30px);
}
.btn_gray:hover {
  background: #3a3d44;
}
.btn_gray:active {
  background: #2a2c31;
}
.mobile {
  display: none !important;
}
.block {
  margin-top: 130rem;
}
.anim {
  opacity: 0;
}
.head-h1 {
  font-weight: 600;
  font-size: 64rem;
  color: #000;
  width: 971rem;
}
.head-h2 {
  font-weight: 500;
  font-size: 56rem;
  line-height: 90%;
  color: #262d3f;
}
.description {
  font-weight: 300;
  font-size: 22rem;
  line-height: 140%;
  color: rgba(38, 45, 63, 0.7);
}
.input .vti__dropdown {
  padding: 0;
}
.input.vue-tel-input:focus-within {
  border-color: #c8c8c8;
  box-shadow: none;
}
.links__item {
  font-weight: 300;
  font-size: 16rem;
  line-height: 130%;
  color: #fff;
  position: relative;
  width: max-content;
}

.links__item::after {
  content: '';
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  width: 0%;
  height: 1rem;
  background: #fff;
  transition: width 0.3s ease;
}

.links__item:hover::after {
  width: 100%;
}
.desktop {
  display: block;
}
.dopEl {
  display: none;
}
.labelSection {
  display: flex;
  align-items: center;
  gap: 10rem;
  font-weight: 500;
  font-size: 16rem;
  line-height: 130%;
  color: rgba(38, 45, 63, 0.3);
  height: max-content;
}
.logo {
  font-weight: 500;
  font-size: 30rem;
  line-height: 90%;
  color: #fff;
}
.phone {
  font-weight: 500;
  font-size: 18rem;
  line-height: 130%;
  /* text-align: right; */
  color: #fff;
}

.phone:hover {
  color: #2897f8;
}

.copyrightLInk {
  font-weight: 300;
  font-size: 14rem;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.3);
}
.copyrightLInk:hover {
  color: rgba(255, 255, 255, 0.5);
}

.times {
  font-weight: 300;
  font-size: 14rem;
  line-height: 130%;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 6rem;
}
._dop-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20rem 20rem 20rem 40rem;
  border: 1px solid rgba(38, 45, 63, 0.05);
}

@media screen and (max-width: 768px) {
  ._dop-info {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
  }
  .logo {
    font-weight: 600;
    font-size: 24px;
  }
  .labelSection {
    gap: 10px;
    font-size: 12px;
  }
  body {
    font-size: 16px;
  }
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
  .container {
    padding: 0 20px;
  }
  .btn_blue {
    padding: 17px 24px;
    font-size: 12px;

    height: 50px;
    gap: 7px;
  }
  .btn_gray {
    padding: 17px 24px;
    font-size: 12px;

    height: 50px;
    gap: 7px;
    font-size: 12px;
    padding: 17px 27px;
    gap: 7px;

    min-width: 191px;
  }
  html {
    font-size: 16px;
  }
  .btn_blue {
    font-size: 12px;
    padding: 17px 27px;
    gap: 7px;
    min-width: 191px;
    max-width: 100%;
  }
  .block {
    margin-top: 100px;
  }
  .head-h1 {
    font-weight: 600;
    font-size: 32px;
    color: #000;
    width: 100%;
  }
  .head-h2 {
    font-weight: 600;
    font-size: 24px;
    color: #000;
  }
  .description {
    font-size: 16px;
  }
  .links__item {
    font-weight: 600;
    font-size: 20px;
    color: #212121;
  }
  .links__item::after {
    height: 2px;
    bottom: -2px;
  }
  .arrow {
    display: flex;
  }
  .arrows {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .progressBar .swiper-pagination-progressbar-fill {
    background: #fff;
    border-radius: 30px;
  }
  .progressBarWhat .swiper-pagination-progressbar-fill {
    background: #0a4287;
    border-radius: 30px;
  }
  .progressBarTeam .swiper-pagination-progressbar-fill {
    background: #0a4287;
    border-radius: 30px;
  }
  .dopEl {
    display: flex;
    gap: 11px;
    align-items: flex-end;
    width: 100%;
  }
  .phone {
    font-size: 16px;
    color: #212121;
  }

  .times {
    font-size: 12px;
    color: #212121;
    width: max-content;
    gap: 6px;
  }
  .copyrightLInk {
    font-size: 12px;
  }
}
